@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import './variables';
@import './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

button {
  cursor: pointer;
}

.app {
  min-height: 100vh;
  background-color: $dark-blue;
  padding-bottom: 10rem;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 110px calc(100% - 102px);
  overflow-x: hidden;
}

.background-album-image {
  position: relative;
}

.background-album-image::before {
  position: fixed;
  content: '';

  top: 0;
  left: 0;
  width: 100%;
  height: 60%;

  background-image: url('../images/Lead-image.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;

  opacity: 0.2;
  z-index: -1;
}

@media (max-width: 700px) {
  .main {
    display: block;
    width: 100%;
  }
}
