@import '../../sass/variables';
@import '../../sass/mixins';

.album-list {
  @include flex-col;
  gap: 10px;
}

.album-list-card {
  color: $light;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  background: rgba(51, 55, 59, 0.37);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  div:last-of-type {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    p {
      font-weight: 100;
      font-size: small;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    p:first-of-type {
      justify-content: flex-start;
    }

    p:last-of-type {
      justify-content: flex-end;
    }

    svg {
      color: $secondary;
      font-size: larger;
    }
  }
}

.album-list-card-div {
  display: flex;
  align-items: center;
  gap: 25px;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
  }

  svg {
    color: $light;
    font-size: larger;
  }
}

@media (max-width: 830px) {
  .album-list-card {
    gap: 20px;

    div:last-of-type {
      grid-template-columns: 2fr 1fr;
      row-gap: 10px;

      p {
        justify-content: flex-start;
      }

      p:nth-of-type(2) {
        grid-row: 2;
      }

      p:nth-of-type(3) {
        grid-row: 2;
        justify-content: flex-end;
      }
    }
  }

  .album-list-card-div {
    svg {
      display: none;
    }
  }
}
